.app {
  display: flex;
  height: 100vh; /* Pour occuper toute la hauteur de la fenêtre */
}

.sidebar {
  width: 200px;
  background-color: #9FB0DB;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed; /* Sidebar fixée sur le côté gauche */
  left: 0;
  top: 0;
}

.main-content {
  flex-grow: 1;
  margin-left: 250px; /* Décalage pour la sidebar */
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #9FB0DB;
  padding: 20px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed; /* Fixer le header en haut */
  top: 0;
  left: 241px; /* Pour ne pas chevaucher la sidebar */
  right: 1px;
  z-index: 1; /* Assurez-vous qu'il reste au-dessus du reste du contenu */
}

 
.dashboard {
  padding: 20px;
  margin-top: 60px; /* Pour éviter que le contenu du dashboard ne chevauche le header */
  margin-left: -18px; 
  padding: 20px;
  margin-top: 92px; /* Pour éviter que le contenu du dashboard ne chevauche le header */
  background-color: #F0F0F0;
  height: calc(100vh - 60px); /* Hauteur du contenu ajustée */
  height: 800%;
}
