
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  scroll-behavior: smooth;
  --primary: #CED5ED;
  --second:#9FB0DB ;
  --bgcolor: #CED5ED;
}

body{
  font-family: 'Open Sans', sans-serif;
  color:#4444;
  background: var(--bgcolors);
}

a {
  color:var(--primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color:#9FB0DB;
  text-decoration: none;
}